doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title About Us
    style
             include ./about.css
  body
    .container
      h3 About us
      p.para
        | Reliable, User-Friendly, Popular Advertising App Payucart. You need
        | money, We need your time. Advertise & Earn with Payucart. Payucart, The
        | platform which gives opportunity to many who want to make money using
        | their smartphones. It is one of the best advertising tool gaining
        | reputation in top Ads and other Brands whose products are advertised and
        | promoted via this platform and the users get directly paid for this. To
        | earn a really good money and or to keep a regular source of income using
        | smartphone and doing simple Advertise watiching can join and start
        | Earning. Brands being advertised give commission to Payucart to have
        | advertised rigorously through this very simple and easy platform with
        | best user interface. A part of the commission is taken by Payucart for
        | maintenance and operations and a part is directly paid to the users who
        | do actually advertise these products. Putting it simple, Payucart gets
        | paid for providing advertisement platform to various brands and a part
        | of commission it gets is paid further to users. Due to simple,
        | user-friendly interface and great yielding results the Payucart
        | succeeded in getting good advertising brand partners. One can easily
        | join, became member and start earning at Payucart. Our vision is to
        | create and manage digital platform which can dynamically provide great
        | services to various users. We wish to make the platform as big that a
        | high number of people who need a daily income source may get benefitted
        | from those who want their organic advertisement. Here, Payucart is a
        | kind of symbiosis relation system which let benefitting all the parties.
        | The brands, companies get their products advertised, users get paid for
        | the same and Payucart gets commission for managing and operating the
        | system. Payucart's service Do you need money ? Well, Spend some time in
        | these simply organized Advertise watching by Payucart and get paid
        | really Handsome Money. Its all the parties Advertiser, User and
        | Interface manager.
      .contact
        p Contact on: &nbsp;
        a(href='mailto:payucart@gmail.com') payucart@gmail.com
