.col-md-3.col-xl-3.col-sm-6 {
  padding-bottom: 4px;
}

.navimage {
  padding: 10px 15px;
  margin: 10px 3px;
  position: relative;
  color: #9a9a9a;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: transparent;
}

.table {
  margin-bottom: 0px;
  border-collapse: inherit;
}
.table > thead > tr > th {
  border-bottom-width: 0px;
}

.li > i,
i,
.table > tbody > tr > td > i {
  cursor: pointer;
}

.table > tbody > tr > td > i {
  font-size: 1.9rem;
  margin: 0 6px;
}

.text-center > i {
  color: #8a8181;
}

/* Modal CSS */

.main-panel {
  z-index: auto;
}

/* Nav-open  */

@media (max-width: 991px) {
  .nav-open .navbar-collapse,
  .nav-open.sidebar {
    /* -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0); */
    transform: translate3d(0px, 0, 0);
  }
}

.d-none{
  display: none;
}

.modal-header{
  display: flex;
}
.modal-header>h4,h2,h3,h5{
  display: flex;
  flex-grow: 1;
}

.notUsers{
  display: flex;
  flex-direction: column;
  align-items: center;
}